PASCAL_COMFYUI_CUDA_DEVICES=3
PASCAL_COMFYUI_HOST=0.0.0.0
PASCAL_COMFYUI_PORT=8188
PASCAL_COMFYUI_FORCE_FP32=1
PASCAL_COMFYUI_VRAM_MODE=high
PASCAL_COMFYUI_RESERVE_VRAM_GIB=1.0
PASCAL_COMFYUI_DISABLE_CUSTOM_NODES=1

